#score {
    position: absolute;
    top: 10px;
    left: 10px;
}

#highScores {
    position: absolute;
    top: 10px;
    right: 10px;
    text-align: right;
    background-color: light;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    text-decoration: underline;
    text-align: center;
    padding: 20px;
}

#question-container {
    max-width: 400px;
}

#question-container button {
    padding: 15px;
}
